alert("@comment.id : " + "<%= @comment.id %>\n" )
// 여러 동작을 해야 함...
// comment_id의 reply_form을 삭제하고...
// 해당 comment의 li를 또 삭제하고
// 새로 처음부터 반영되도록 적용해야 함.... 그래야 자식 노드까지 다 출력할 수 있음...
//$("#comment_<%= @comment.id %>").first().after("<div class='media'><%= link_to image_tag(avatar_url(@comment.user), class: 'rounded-circle user-photo', title: @comment.user.name), @comment.user %></div>");
